<div class="grid grid-nogutter" style="width: 11em">
    <div class="col-2 flex align-items-center justify-content-center">
        <p-button *ngIf="division != 'IRON' || subDivision != 4" icon="pi pi-caret-left" styleClass="small" (onClick)="decrease()"></p-button>
    </div>
    <div class="col-8 flex align-items-center justify-content-center">
        {{division}} {{getSubDivisionText()}}
    </div>
    <div class="col-2 flex align-items-center justify-content-center">
        <p-button *ngIf="division != 'MASTER'" icon="pi pi-caret-right" styleClass="small" (onClick)="increase()"></p-button>
    </div>
</div>
