<div class="grid self" style="width: 30em;">
    <div class="text col-12 flex align-items-center justify-content-center">
        {{rank}} {{subRank}}
    </div>
    <div class="badge col-12 flex align-items-center justify-content-center" (click)="click()">
        <p-image [src]="'assets/images/' + rank + '.webp'" width="250"></p-image>
    </div>
    <div class="progress col-offset-3 col-6">
        <p-progressBar class="bar" [value]="amount" [showValue]="false"></p-progressBar>
        <div class="value flex align-items-center justify-content-center {{test? 'dark' : 'light'}}">{{amount}}</div>
    </div>
</div>


