<div class="grid">
    <div class="col-12 flex align-items-center justify-content-center">
        <p-button icon="pi pi-plus" styleClass="small" (onClick)="add()"></p-button>
    </div>
    <div *ngFor="let winLoss of getReverseWinsLosses(); let i = index"
         class="col-12 flex align-items-center justify-content-center">
        <div class="games">
            <app-games [isWin]="winLoss.isWin" (amountChanged)="changeAmount(winLoss, $event)"></app-games>
        </div>
    </div>

</div>
