<div class="background"></div>
<div class="full">
    <div class="grid grid-nogutter">
        <div class="col-offset-0 col-12 md:col-offset-2 md:col-8 lg:col-offset-3 lg:col-6">
            <div class="flex align-items-center justify-content-center">
                <app-badge></app-badge>
            </div>
        </div>
        <div class="col-offset-0 col-12 md:col-offset-2 md:col-8 lg:col-offset-3 lg:col-6">
            <div class="flex align-items-center justify-content-center">
                <app-games-overview></app-games-overview>
            </div>
        </div>
    </div>
</div>
