<div class="grid self flex align-items-center justify-content-center {{isWin ? 'win' : 'loss'}}">
    <div class="col-2 flex align-items-center justify-content-center">
        <p-button styleClass="p-button-rounded" label="-5"></p-button>
    </div>
    <div class="col-2 flex align-items-center justify-content-center">
        <p-button styleClass="p-button-rounded" label="-1"></p-button>
    </div>
    <div class="col-2 flex align-items-center justify-content-center">10</div>
    <div class="col-2 flex align-items-center justify-content-center">
        <p-button styleClass="p-button-rounded" label="+1"></p-button>
    </div>
    <div class="col-2 flex align-items-center justify-content-center">
        <p-button styleClass="p-button-rounded" label="+5"></p-button>
    </div>
</div>
