<div class="grid self flex align-items-center justify-content-center {{isWin ? 'win' : 'loss'}}">
    <div class="col-2 flex align-items-center justify-content-center">
        <p-button styleClass="p-button-rounded" label="-5" (onClick)="subtract(5)"></p-button>
    </div>
    <div class="col-2 flex align-items-center justify-content-center">
        <p-button styleClass="p-button-rounded" label="-1" (onClick)="subtract(1)"></p-button>
    </div>
    <div class="col-3 flex align-items-center justify-content-center">{{isWin ? 'Wins:' : 'Losses:'}} {{amount}}</div>
    <div class="col-2 flex align-items-center justify-content-center">
        <p-button styleClass="p-button-rounded" label="+1" (onClick)="add(1)"></p-button>
    </div>
    <div class="col-2 flex align-items-center justify-content-center">
        <p-button styleClass="p-button-rounded" label="+5" (onClick)="add(5)"></p-button>
    </div>
</div>
